.menu-btn {
    -fx-background-color: #ff7043;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 8;
    -fx-padding: 10 40 10 40;
}

.menu-btn:hover {
    -fx-background-color: #ff5722;
}
.registerBtn
{
-fx-background-color :#0000FF;

}
.root-pane {
    -fx-background-color: linear-gradient(#0f1720, #16202b);
    -fx-font-family: "Segoe UI", "Helvetica", sans-serif;
}

/* Header */
.header {
    -fx-background-color: transparent;
    -fx-padding: 12 18;
}

.brand {
    -fx-text-fill: #8ad4ff;
    -fx-font-size: 20px;
    -fx-font-weight: 800;
    -fx-padding-left: 8;
}

.user-name {
    -fx-text-fill: #e6f0ff;
    -fx-font-weight: 700;
}

.user-role {
    -fx-text-fill: #9fb0c8;
    -fx-font-size: 11px;
}

/* Cards */
.panel-card {
    -fx-background-color: rgba(255,255,255,0.03);
    -fx-background-radius: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.35), 8, 0, 0, 4);
    -fx-border-color: rgba(255,255,255,0.04);
    -fx-border-radius: 12;
}

.summary-card {
    -fx-background-color: linear-gradient(to bottom right, rgba(255,255,255,0.03), rgba(255,255,255,0.02));
    -fx-background-radius: 12;
    -fx-border-color: rgba(255,255,255,0.03);
    -fx-border-radius: 12;
    -fx-pref-width: 220;
    -fx-pref-height: 80;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.35), 6, 0, 0, 3);
}

.panel-title {
    -fx-text-fill: #dbeeff;
    -fx-font-weight: 700;
    -fx-font-size: 16px;
}

.small-text {
    -fx-text-fill: #b9c6d6;
    -fx-font-size: 13px;
}

.recent-list {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-text-fill: #dfeaf6;
}

/* tiles */
.tile-card {
    -fx-background-color: rgba(255,255,255,0.02);
    -fx-background-radius: 12;
    -fx-pref-width: 220;
    -fx-pref-height: 88;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 6, 0, 0, 2);
}

.tile-title {
    -fx-text-fill: #cfeffd;
    -fx-font-weight: 700;
    -fx-font-size: 13px;
}
.tile-number {
    -fx-text-fill: #9ad6ff;
    -fx-font-size: 18px;
    -fx-font-weight: 800;
}

/* buttons */
.action-btn {
    -fx-background-color: rgba(255,255,255,0.04);
    -fx-text-fill: #dbeeff;
    -fx-background-radius: 8;
    -fx-padding: 10 16;
    -fx-font-weight: 600;
    -fx-border-color: rgba(255,255,255,0.03);
}

/* ghost logout button */
.ghost-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #cfeffd;
    -fx-border-color: rgba(255,255,255,0.06);
    -fx-border-radius: 8;
    -fx-padding: 6 12;
}

/* charts */
.chart-legend {
    -fx-background-color: transparent;
}

.chart {
    -fx-background-color: transparent;
}

/* small fonts etc */
.summary-title { -fx-text-fill: #dfeaf6; -fx-font-weight: 600; }
.summary-number { -fx-text-fill: #7be0ff; -fx-font-weight: 900; -fx-font-size: 18px; }


